@model List<Application.ViewModels.DataTable>

@{
    ViewBag.Title = "Summary";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/GeneralExpenseScipt.js")"></script>

@{
    foreach (var table in Model)
    {
        <h2 class="@table.sourceID">@Html.ActionLink(table.tableName, "GeneralExpense", "GeneralExpenses")</h2>

        <table class="table">

            @Html.Partial("~/Views/Shared/_NoNameTableHeader.cshtml")
            @foreach (var item in table.dataList)
            {
                <tr>
                    @if (item.hasChildren)
                    {
                        <td class="name" id="@item.SourceID">@Html.ActionLink(item.Name, item.Action, item.Controller, new { expenseID = item.SourceID }, null)</td>
                    }
                    else
                    {
                        <td class="name editable" id="@item.SourceID">@item.Name</td>
                    }
                    <td class="total"></td>

                    @{
                        var tCount = 1;
                        foreach (var x in item.Values)
                        {
                            var text = "";
                            if (x != 0)
                            {
                                text = String.Format("{0:C0}", x);
                            }
                            var column = "data col" + tCount;
                            <td class="@column">@text</td>
                            tCount++;
                        }
                    }
                </tr>
                        }
            @Html.Partial("~/Views/Shared/_Tablesum.cshtml")


        </table>    }

}