@model List<Application.ViewModels.DataTable>

@{
    ViewBag.Title = "Summary";
}


@{
                foreach (var table in Model)
                {
        <h2>@table.tableName</h2>

        <table class="table">

            @if (table != null)
            {
                @Html.Partial("~/Views/Shared/_CornerCellValueTableHeader.cshtml", table)
            }
            @foreach (var item in table.dataList)
            {
                <tr>
                    @if (item.hasChildren)
                    {
                        <td class="name">@Html.ActionLink(item.Name, item.Action, item.Controller, new { expenseID = item.SourceID }, null)</td>
                    }
                    else
                    {
                        <td class="name">@item.Name</td>
                    }
                    <td class="total"></td>

                    @{
                        var tCount = 1;
                        foreach (var x in item.Values)
                        {
                            var text = "";
                            if (x > 0)
                            {
                                text = String.Format("{0:0}", x);
                            }
                            var column = "data col" + tCount;
                            <td class="@column">@text</td>
                            tCount++;
                        }
                    }
                </tr>
                        }
            @Html.Partial("~/Views/Shared/_Tablesum.cshtml")


        </table>
                        }



}