@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>@Html.ActionLink("Top Level Summary", "Index", "TopLevelSummary")</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Revenue Summary", "Index", "Revenues")</h2>
        <p>
            Summary of Revenues for the budget year selected
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Service Expenses", "ServiceExpenseSummary", "ServiceExpense")</h2>
        <p>
            Summary of Service expenses for the budget year selected
            <br />
            Includes information for personelle and human resources
        </p>
        <div class="col-md-4">
            <h6>@Html.ActionLink("Summary Counselling", "SummaryCounselling", "Counselling")</h6>
        </div>
        <div class="col-md-4">
            <h6>@Html.ActionLink("Department Summary", "DepartmentSummary", "Employees")</h6>
        </div>
        <div class="col-md-4">
            <h6>@Html.ActionLink("Employees", "Details", "Employees")</h6>
        </div>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("General Expenses", "GeneralExpenseSummary", "GeneralExpenses")</h2>
        <p>
            Summary of General and Administrative expenses the budget year selected
        </p>
    </div>
</div>