@model PagedList.IPagedList<Application.Models.ServiceExpense>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "General Expenses";
}


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/EmployeesScript.js")"></script>
<div class="container">

    <h2>All Service Expenses</h2>
    <div class="col-lg-2">@Html.ActionLink("Create New", "Create", "ServiceExpenses")</div>
    @using (Html.BeginForm("Index", "ServiceExpenses", FormMethod.Get))
    {
        <div class="col-lg-4" style="float:right;">
            <div class="col-lg-8" style="margin-top:2px;">@Html.TextBox("SearchString", ViewBag.CurrentFilter as string)</div>
            <p class="col-lg-4">
                <input type="submit" value="Search" style="text-align:center; padding-right:3px; margin:0;" />
            </p>
        </div>
    }
    <table class="table">
        <tr class="fixedElement top" style="width:100%; background-color:#f7f7f7;">
            <th>
                @Html.ActionLink("Name ", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Parent", "Index", new { sortOrder = ViewBag.ParentSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Number of data records", "Index", new { sortOrder = ViewBag.numDataSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                G&A Expense Data
            </th>
        </tr>
    </table>
    <table class="table">
        @foreach (var item in Model)
        {
            <tr>
                <td class="col-lg-2" id="@item.ServiceExpenseID">@Html.ActionLink(item.Name, "Edit", "ServiceExpenses", new { id = item.ServiceExpenseID }, null)</td>
                <td class="col-lg-2">@Html.DisplayFor(modelItem => item.ServiceExpense2.Name)</td>
                <td class="col-lg-2">@Html.DisplayFor(modelItem => item.ServiceExpenseDatas.Count)</td>
                <td class="col-lg-2" id="@item.ServiceExpenseID">@Html.ActionLink("Show Table", "ServiceExpense", "ServiceExpense", new { expenseID = item.ServiceExpenseID }, null)</td>
            </tr>
        }

    </table>

    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("ListAll",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>
