
<h2>@Html.ActionLink("Counselling", "Index", "Revenues")</h2>
<hr />
<h4>@Html.ActionLink("Counselling Analysis", "CounsellingAnalysis", "Counselling")</h4>
<h4>@Html.ActionLink("Summary Counselling", "SummaryCounselling", "Counselling")</h4>
<h4>@Html.ActionLink("Cost of Service Counselling Hour", "CostofServiceCounsellingHour", "Counselling")</h4>
<h4>@Html.ActionLink("Counselling Hours", "EmployeeCounsellingHours", "Counselling")</h4>
<h4>@Html.ActionLink("Counselling Programs", "Program", "CounsellingProgram")</h4>
<h4>@Html.ActionLink("Group Therapy Hours", "EmployeeCounsellingHours", "Counselling") does not work</h4> 
<h4>@Html.ActionLink("Supervising Hours", "SupervisionHours", "Counselling")</h4>
<h4>@Html.ActionLink("Total Group Hours", "TotalGroupHours", "CounsellingProgram")</h4>
<h4>@Html.ActionLink("Total Revenue Hours", "RevenueHours", "CounsellingProgram")</h4>
<h4>@Html.ActionLink("Total Preparation Hours", "PreparationHours", "CounsellingProgram")</h4>
<h4>@Html.ActionLink("Group Summary By Program", "SummaryByProgram", "CounsellingProgram")</h4>
