
@model Application.ViewModels.DataTable

@{

        <table class="table">
            @{
                @Html.Partial("~/Views/Shared/_TableHeader.cshtml")
                foreach (var item in Model.dataList)
                {

                    <tr id='@item.SourceID' class="@item.viewClass">
                        @{
                            <td class="name">
                                    @Html.ActionLink(item.Name, "Edit", "Employees", new { id = item.SourceID }, null)
                            </td>
                            var count = 1;

                            if (item.Values != null)
                            {
                                <td class="total"></td>
                                foreach (var x in item.Values)
                                {
                                    var text = "";
                                    if (x != 0)
                                    {
                                        text = x.ToString();
                                    }
                                    var column = "data col" + count;
                                    <td class="@column">@text</td>
                                    count++;

                                }
                            }
                        }
                    </tr>


                            }

            }
            @Html.Partial("~/Views/Shared/_HourSum.cshtml")




        </table>
                            }

